.panel {
  background-color: var(--primary);
  color: var(--text-contrast);
  padding: calc(47px + var(--header-height)) 0 82px 0;
}

.results {
  padding: 61px 0;
}

.authorization_prompt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorization_warning {
  font-size: 2rem;
  color: var(--text-gray);
}
