.button {
  border: none;
  font-weight: 450;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--primary);
  }
}

.color {
  &-primary {
    background-color: var(--primary);
    color: var(--text-contrast);
  }

  &-opaque {
    background-color: transparent;
    color: inherit;

    &:focus {
      outline: none;
      color: var(--primary);
    }
  }
}

.size {
  &-md {
    height: var(--input-md);
    border-radius: var(--input-md-radius);
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 0 60px;
  }

  &-sm {
    height: var(--input-sm);
    border-radius: var(--input-sm-radius);
    font-size: 0.9375rem;
    line-height: 1.25rem;
    padding: 0 20px;
  }
}
