@import "variables";

:root {
  --content-width: #{$content-width};
  --screen-tablet: #{$screen-tablet};

  --header-height: 74px;
  --input-md: 61px;
  --input-md-radius: 15px;
  --input-sm: 36px;
  --input-sm-radius: 10px;
}
