:root {
  --primary: #3782da;
  --text-primary: #424f5e;
  --text-contrast: #ffffff;
  --text-gray: #9494a0;
  --background: #ffffff;
  --input-border: #c1c1cb;
  --close-background: #ebebf0;
  --color-danger: #ff5139;
  --links-gray: var(--input-border);
}
